<div style="background-image:url(/assets/retina_wood.png)" class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="span-divider"></div>
			<div class="col-md-4">
				<h4>CONTACTO</h4>
				<hr>
				<p><strong>Hotel Real del Lago</strong></p>
				<p>Avenida de los deportes # 15 Colonia Adolfo López Mateos<br>
					Tlaxcala, Tlaxcala. CP 90040.
				</p>
				<p>Teléfonos: (246) 462 0399 / (246) 462 9517</p>
 		        <a href="mailto:reservaciones@hotelrealdelago.com">reservaciones@hotelrealdelago.com</a><br>
 		        <br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1882.5110973880517!2d-98.24517926682164!3d19.324843173462384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfd91867f5e30b%3A0x6304df369b004465!2sHotel+Real+Del+Lago!5e0!3m2!1ses!2smx!4v1458962967743" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>

			</div>
			<div class="col-md-4">
				<h4>REDES SOCIALES</h4>
				<hr>
				<div class="col-md-10">
					<%= image_tag('http://growingsocialmedia.com/wp-content/uploads/2015/11/Social-Media-Logos-Group.png', class: "img-responsive") %>
				</div>
			</div>
			<div class="col-md-4">
	  			<h4>TWEETS</h4>
	  			<hr>
	  			<% @tweet_news.each do |tweet| %>
					<div class="col-md-2"><%= image_tag('tweet.png') %></div>
					<div class="col-md-10">
	  					<p>
	  						<%= link_to tweet.user.screen_name, "https://twitter.com/hrealdelago", target: "_blank" %>
	  					</p>
	  					<p>	
	  						<%= auto_link(tweet.text, :html => { :target => '_blank' }) %><br>
	  						<small><%= localize(tweet.created_at, :format => :long) %> </small>
	  					</p>
	  				</div>
  				<% end %>
			</div>
		</div>
	</div>
	<br>
</div> 
<footer style="background-color:black">
	<div class="container">
		<div class="col-md-10 col-md-offset-1">
			<p class="lead" style="color:white">Desarrollado por <a style="" href="https://twitter.com/JulioAhuactzin" target="_blank">@JulioAhuactzin </a> <span class="pull-xs-right"><a href="#">Privacy</a> | <a href="#">Terms</a></span></p>
		</div>
	</div>
</footer>