<!DOCTYPE html>
<html>
<head>
  <title>Hotel Real Del Lago | Tlaxcala </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="57x57" href="assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="asssets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta property="og:title" content="Tlaxcala | Hotel Real del Lago estancias cómodas al mejor precio." />
  <meta property="og:url" content="http://www.hotelrealdelago.com" />
  <meta property="og:image" content="http://www.hotelrealdelago.com/assets/logo.jpg" />
  <meta property="og:description" content="Hotel Real del Lago | Ideal para estancias de placer o de negocios, ubicado en el corazón de la Ciudad de Tlaxcala." />
  <meta property="og:site_name" content="ShareThis" />
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
  <script type="text/javascript">
 
 // Conekta Public Key
  Conekta.setPublishableKey('<%= Rails.application.secrets.conekta_public %>');
 
 // ...
  </script>
</head>
<body>
	<%= render "partials/nav_bar" %>
  <% if flash[:notice] %>
      <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button><%= flash[:notice] %></div>
  <% end %>
	<%= yield %>
  <div class="wow shake animated" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
    <div class="page-scroll marginbot-30">
      <a href="#intro" id="totop" class="btn btn-circle">
        <span id="scroll_item" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
      </a>
    </div>
  </div>
	<%= render "partials/footer" %>
</body>
</html>
