<!DOCTYPE html>
<html>
<head>
  <title>Hotel Real Del Lago | Tlaxcala </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
  <script type="text/javascript">
 
 // Conekta Public Key
  Conekta.setPublishableKey('<%= Rails.application.secrets.conekta_public %>');
 
 // ...
  </script>
</head>
<body>
	<%= render "partials/nav_bar" %>
  <% if flash[:notice] %>
      <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
      </button><%= flash[:notice] %></div>
  <% end %>
	<%= yield %>
	<%= render "partials/footer" %>
</body>
</html>
